
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Shop Search</h1>
    

   
</div>
<container>

    
    <container>

        <button class="btn-info"><a class="btn" asp-area="" asp-controller="Shop" asp-action="Login">Login</a></button>
        <button class="btn-info"><a class="btn" asp-area="" asp-controller="Shop" asp-action="Create">Register</a></button>

    </container>
            

    
</container>
